// Body
$body-bg: #edf2f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.0rem;
$font-size-headline: 1.9rem;
$font-size-large: 1.4rem;
$font-size-large2: 1.8rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$base-font-color:rgba(0, 0, 0, 0.8);

$max-width: 1200px;
$link-color: rgb(64, 128, 224);
$header-height: 60px;
$footer-height: 60px;

$target-key-color:$orange;
