// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-sans-serif;
  color: $base-font-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    opacity: 0.7;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: $body-bg;
}

/*----------------------------------------------

ボタン関連

----------------------------------------------*/
.btn {
  padding: 10px 15px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
  }
}

.btn-green {
  background-color: $green;
  box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: $red;
  box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  box-shadow: 2px 2px #504e4e;
}

/*----------------------------------------------

ヘッダー

----------------------------------------------*/
.header-container {
  background-color: rgb(215, 219, 226);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  .header {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    height: $header-height;

    #logo {
      a {
        line-height: $header-height;
        padding: 0 15px;
        color: rgba(0, 0, 0, 0.9);
        display: block;
        font-size: 20px;
        font-weight: bold;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    #pc-nav {
      margin-left: auto;
      ul {
        display: flex;
        list-style: none;

        a {
          line-height: $header-height;
          padding: 0 15px;
          color: rgba(0, 0, 0, 0.5);
          display: block;
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }

    #sp-nav {
      display: flex;
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        width: 80%;
        padding: 10px;
        border-radius: 5px;
      }
      li {
        padding: 10px;
        width: 100%;
        a,
        span {
          display: block;
          padding: 20px;
          font-size: 16px;
          color: white;
          cursor: pointer;
        }
      }
    }

    #hamburger {
      display: none;
      position: relative;
      width: 30px;
      height: $header-height;
      margin: 0 15px 0 auto;
      span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(58, 58, 58, 0.9);
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(58, 58, 58, 0.9);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(58, 58, 58, 0.9);
      }
    }
  }
}

/*----------------------------------------------

フッター

----------------------------------------------*/
.footer-container {
  margin: auto 0 0 0;
  background-color: rgb(141, 146, 146);
  width: 100%;

  .footer {
    max-width: $max-width;
    margin: 0 auto;
    padding: 15px;
    height: $footer-height;

    .copyright {
      font-size: 16px;
      text-align: center;
    }
  }
}

/*----------------------------------------------

メインコンテンツ

----------------------------------------------*/
.main-container {
  width: 100%;
  max-width: $max-width;
  margin: 60px auto 0px auto;
  display: flex;
  flex-wrap: wrap;

  .contents {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
  }

  #home {
    width: 100%;
    .top-image {
      margin: 0 auto;
      text-align: center;

      img {
        width: 40%;
        margin-top: 15px;
      }
    }

    .main {
      display: flex;
      flex-wrap: wrap;
      .title {
        font-size: $font-size-headline;
        text-align: center;
        margin: 10px 0;
      }

      .menu {
        padding: 10px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
      }

      .member-menu {
        width: calc(50% - 20px);
        text-align: center;
        .user-info-table {
          margin: 20px auto;
          border-collapse: collapse;
          th,
          td {
            font-size: $font-size-large;
            width: 50%;
            padding: 15px 10px;
            text-align: right;
          }
        }
      }

      .typing-menu {
        width: calc(50% - 20px);
        .btn-wrapper {
          display: flex;
          flex-wrap: wrap;
          button {
            width: calc(50% - 30px);
            margin: 15px;
          }
        }
      }

      .history {
        width: 100%;
        .message{
          text-align: center;
        }
        .history-data {
          display: flex;
          justify-content: center;
          .history-table {
            margin: 10px;
            width: calc(50% - 20px);
            border-collapse: collapse;
            thead {
              th {
                text-align: center;
                padding: 10px;
                border-bottom: 1px solid #ccc;
                &:nth-child(1) {
                  width: 20%;
                }
                &:nth-child(2) {
                  width: 15%;
                }
                &:nth-child(3) {
                  width: 15%;
                }
                &:nth-child(4) {
                  width: 20%;
                }
                &:nth-child(5) {
                  width: 30%;
                }
              }
            }
            tbody {
              td {
                text-align: center;
                padding: 10px;
                border-bottom: 1px solid #ccc;
              }
              tr:nth-child(odd) {
                background-color: #eee;
              }
            }
          }
          .history-graph {
            margin: 10px;
            width: calc(50% - 20px);
          }
        }
        .pagination {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          li {
            border: 1px solid #ddd;
            padding: 6px 12px;
            text-align: center;
            cursor: pointer;
            & + li {
              border-left: none;
            }
          }
          .active {
            background-color: $cyan;
          }
          .disabled {
            cursor: not-allowed;
          }
        }
      }
    }

    .modal-typing {
      .modal-header {
        text-align: right;
        .icon {
          margin: 10px;
          &:hover{
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }

      .modal-main {

        .question-setting{
          width: 50%;
          margin: 15px auto;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .message{
          text-align: center;
          font-size: $font-size-large;
        }

        .error{
          color: red;
        }
        
        .inputed {
          color: orange;
        }

        .form-select {
          width: 60px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:focus {
            outline: none;
            border-color: dodgerBlue;
            box-shadow: 0 0 5px 0 dodgerBlue;
          }
        }

        .form-checkbox {
          display: none;

          + label {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding-left: 25px;
            padding-right: 10px;

            &::before {
              content: "";
              position: absolute;
              display: block;
              box-sizing: border-box;
              width: 20px;
              height: 20px;
              margin-top: -10px;
              left: 0;
              top: 50%;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }

          &:checked + label::after {
            content: "";
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 18px;
            height: 9px;
            margin-top: -9px;
            top: 50%;
            left: 3px;
            transform: rotate(-45deg);
            border-bottom: 3px solid;
            border-left: 3px solid;
            border-color: dodgerBlue;
          }
        }

        #keyboard-container {
          display: flex;
          justify-content: center;
          #keyboard {
            display: flex;
            flex-direction: column;
            .row {
              display: flex;
              .key {
                border: 1px solid #d8d8d8;
                border-radius: 3px;
                font-weight: bold;
                font-size: 16px;
                line-height: 35px;
                text-align: center;
                margin: 3px 3px 3px 3px;
                width: 35px;
                height: 35px;
              }
              .target-key {
                background-color: $target-key-color;
              }
              .missed {
                animation: flash 0.3s linear infinite;
              }
              @keyframes flash {
                0%,
                100% {
                  opacity: 1;
                }

                50% {
                  opacity: 0;
                }
              }
              #key-tab {
                width: 55px;
              }

              #key-enter-1 {
                border-left: 1px solid #d8d8d8;
                border-top: 1px solid #d8d8d8;
                border-right: 1px solid #d8d8d8;
                border-radius: 3px 3px 0 3px;
                font-weight: bold;
                font-size: 16px;
                line-height: 35px;
                text-align: center;
                margin: 3px 3px 3px 3px;
                width: 55px;
                position: relative;
              }

              #key-enter-1::before {
                content: "";
                position: absolute;
                left: 10%;
                bottom: 0px;
                display: inline-block;
                width: 10px;
                height: 1px;
                transform: translateX(-50%);
                background-color: #d8d8d8;
              }

              #key-caps {
                width: 65px;
              }

              #key-enter-2 {
                border-left: 1px solid #d8d8d8;
                border-bottom: 1px solid #d8d8d8;
                border-right: 1px solid #d8d8d8;
                border-radius: 0 0 3px 3px;
                font-weight: bold;
                font-size: 16px;
                line-height: 35px;
                text-align: center;
                margin: -4px 3px 3px 3px;
                width: 45px;
                position: relative;
              }

              #key-shift-left {
                width: 80px;
              }

              #key-shift-right {
                width: 70px;
              }

              #key-ctrl {
                width: 50px;
              }

              #key-space {
                width: 140px;
              }
            }
          }
        }

        #hand-container {
          display: flex;
          justify-content: center;
          #hand {
            display: flex;
            #hand-left,
            #hand-right {
              display: flex;
              align-items: flex-end;
              .finger {
                border: 1px solid #d8d8d8;
                border-radius: 20px 20px 0 0;
                margin: 5px 5px 5px 5px;
                width: 35px;
              }

              .target-finger {
                background-color: $target-key-color;
              }

              .finger-little {
                height: 70px;
              }

              .finger-ring {
                height: 90px;
              }

              .finger-middle {
                height: 100px;
              }

              .finger-index {
                height: 85px;
              }

              .finger-thumb {
                height: 40px;
              }
            }
          }
        }

        #history-container {
          display: flex;
          justify-content: center;

          .pagination {
            display: flex;
            li {
              border: 1px solid #ddd;
              padding: 6px 12px;
              text-align: center;
              cursor: pointer;
              & + li {
                border-left: none;
              }
            }
            .active {
              background-color: $blue;
            }
            .disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  #auth {
    width: 40%;
    .tab {
      list-style: none;
      display: flex;
      margin-bottom: 15px;
      .tab-item {
        cursor: pointer;
        opacity: 0.3;
        padding: 10px;
        border-bottom: 3px solid #38c172;
        & + .tab-item {
          margin-left: 15px;
          border-bottom: 3px solid #60d0e4;
        }
      }
      .tab-item-active {
        opacity: 1;
      }
    }
    .panel {
      .errors-area {
        border: dashed 2px #668ad8;
        background-color: #f1f8ff;
        li {
          padding: 5px 10px;
          color: $red;
        }
      }
      .error {
        color: $red;
      }
      label {
        display: block;
        margin-top: 10px;
      }
      input[type="text"],
      input[type="password"] {
        display: block;
        width: 100%;
        height: 30px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
          border-color: dodgerBlue;
          box-shadow: 0 0 5px 0 dodgerBlue;
        }

        &::placeholder {
          font-size: 12px;
        }
      }
      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 15px 0;
      }
    }
  }

  #question {
    width: 100%;
    .title-area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .title {
        font-size: $font-size-headline;
        text-align: left;
      }
    }
    .setting {
      width: 100%;
      .search-area {
        margin: 10px 0;
        .form-select {
          display: inline-block;
          padding: 5px;
          height: 35px;
          margin-right: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:focus {
            outline: none;
            border-color: dodgerBlue;
            box-shadow: 0 0 5px 0 dodgerBlue;
          }
        }
        input[type="text"] {
          display: inline-block;
          height: 35px;
          padding: 10px;
          margin-right: 15px;
          border-radius: 5px;
          border: 1px solid #ccc;

          &:focus {
            outline: none;
            border-color: dodgerBlue;
            box-shadow: 0 0 5px 0 dodgerBlue;
          }

          &::placeholder {
            font-size: 12px;
          }
        }
      }
      .setting-area {
        margin: 10px 0;
        .form-checkbox {
          display: none;

          + label {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding-left: 25px;
            padding-right: 10px;

            &::before {
              content: "";
              position: absolute;
              display: block;
              box-sizing: border-box;
              width: 20px;
              height: 20px;
              margin-top: -10px;
              left: 0;
              top: 50%;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }

          &:checked + label::after {
            content: "";
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 18px;
            height: 9px;
            margin-top: -9px;
            top: 50%;
            left: 3px;
            transform: rotate(-45deg);
            border-bottom: 3px solid;
            border-left: 3px solid;
            border-color: dodgerBlue;
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        th {
          text-align: center;
          padding: 10px;
          border-bottom: 3px solid #ccc;
          background-color: lavender;
          &:nth-child(1) {
            width: 5%;
          }
          &:nth-child(2) {
            width: 15%;
          }
          &:nth-child(3) {
            width: 20%;
          }
          &:nth-child(4) {
            width: 20%;
          }
          &:nth-child(5) {
            width: 20%;
          }
          &:nth-child(6) {
            width: 10%;
          }
          &:nth-child(7) {
            width: 10%;
          }
          .icon {
            margin-left: 5px;
          }
        }
      }
      tbody {
        td {
          padding: 10px;
          border-bottom: 1px solid #ccc;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(6),
          &:nth-child(7) {
            text-align: center;
          }
        }
        tr:nth-child(odd) {
          background-color: #eee;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      li {
        border: 1px solid #ddd;
        padding: 6px 12px;
        text-align: center;
        cursor: pointer;
        & + li {
          border-left: none;
        }
      }
      .active {
        background-color: $cyan;
      }
      .disabled {
        cursor: not-allowed;
      }
    }
  }

  .modal-question-edit {
    .header {
      text-align: right;
      .icon {
        margin: 10px;
      }
    }
    .main {
      .question-edit {
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        .title {
          font-size: $font-size-large;
          padding-bottom: 10px;
          margin-bottom: 15px;
          border-bottom: 2px solid #f1f3f5;
        }
        .errors-area {
          border: dashed 2px #668ad8;
          background-color: #f1f8ff;
          li {
            padding: 5px 10px;
            color: $red;
          }
        }
        .error {
          color: $red;
        }
        label {
          display: block;
          margin-top: 10px;
        }
        .form-select {
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:focus {
            outline: none;
            border-color: dodgerBlue;
            box-shadow: 0 0 5px 0 dodgerBlue;
          }
        }
        input[type="text"] {
          display: block;
          width: 100%;
          height: 35px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;

          &:focus {
            outline: none;
            border-color: dodgerBlue;
            box-shadow: 0 0 5px 0 dodgerBlue;
          }

          &::placeholder {
            font-size: 12px;
          }
        }
        .btn-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 15px 0;
          button + button {
            margin-left: 20px;
          }
        }
      }
      .question-delete {
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        .title {
          font-size: $font-size-large;
          padding-bottom: 10px;
          margin-bottom: 15px;
          border-bottom: 2px solid #f1f3f5;
        }
        .btn-wrapper {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 15px 0;
        }
      }
    }
  }
}

/*----------------------------------------------

レスポンシブ

----------------------------------------------*/
@media screen and (max-width: 999px) {
  .main-container {
    #home {
      .main {
        .title {
        }
        .history {
          .history-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .history-table {
              width: 100%;
            }
            .history-graph {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    .header {
      #pc-nav {
        display: none;
      }

      #hamburger {
        display: block;
      }
    }
  }

  .main-container {
    #home {
      .top-image {
        img {
          width: 70%;
          margin-top: 15px;
        }
      }

      .main {
        .member-menu {
          width: 100%;
        }
        .typing-menu {
          width: 100%;
        }
      }
    }
    #auth {
      width: 70%;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    #auth {
      width: 100%;
    }
  }
}
