@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4080e0;
}

a:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fafc;
}

/*----------------------------------------------

ボタン関連

----------------------------------------------*/

.btn {
  padding: 10px 15px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}

.btn-green {
  background-color: #38c172;
  box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: #e3342f;
  box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  box-shadow: 2px 2px #504e4e;
}

/*----------------------------------------------

ヘッダー

----------------------------------------------*/

.header-container {
  background-color: #d7dbe2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header-container .header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.header-container .header #logo a {
  line-height: 60px;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.header-container .header #logo a:hover {
  opacity: 0.7;
}

.header-container .header #pc-nav {
  margin-left: auto;
}

.header-container .header #pc-nav ul {
  display: flex;
  list-style: none;
}

.header-container .header #pc-nav ul a {
  line-height: 60px;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

.header-container .header #pc-nav ul a:hover {
  opacity: 0.4;
}

.header-container .header #sp-nav {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container .header #sp-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.header-container .header #sp-nav li {
  padding: 10px;
  width: 100%;
}

.header-container .header #sp-nav li a,
.header-container .header #sp-nav li span {
  display: block;
  padding: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.header-container .header #hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 0 15px 0 auto;
}

.header-container .header #hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(58, 58, 58, 0.9);
  transform: translateY(-50%);
}

.header-container .header #hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(58, 58, 58, 0.9);
}

.header-container .header #hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(58, 58, 58, 0.9);
}

/*----------------------------------------------

フッター

----------------------------------------------*/

.footer-container {
  margin: auto 0 0 0;
  background-color: #8d9292;
  width: 100%;
}

.footer-container .footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  height: 60px;
}

.footer-container .footer .copyright {
  font-size: 16px;
  text-align: center;
}

/*----------------------------------------------

メインコンテンツ

----------------------------------------------*/

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.main-container .contents {
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
}

.main-container #home {
  width: 100%;
}

.main-container #home .top-image {
  margin: 0 auto;
  text-align: center;
}

.main-container #home .top-image img {
  width: 40%;
  margin-top: 15px;
}

.main-container #home .main {
  display: flex;
  flex-direction: column;
}

.main-container #home .main .menu {
  display: flex;
  text-align: center;
}

.main-container #home .main .menu .login-menu {
  width: 50%;
}

.main-container #home .main .menu .typing-menu {
  width: 50%;
}

.main-container #home .main .history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.main-container #home .main .history .history-table thead th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container #home .main .history .history-table thead th:nth-child(1) {
  width: 20%;
}

.main-container #home .main .history .history-table thead th:nth-child(2) {
  width: 15%;
}

.main-container #home .main .history .history-table thead th:nth-child(3) {
  width: 15%;
}

.main-container #home .main .history .history-table thead th:nth-child(4) {
  width: 20%;
}

.main-container #home .main .history .history-table thead th:nth-child(5) {
  width: 30%;
}

.main-container #home .main .history .history-table tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container #home .main .history .history-table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.main-container #home .main .history .pagination {
  display: flex;
}

.main-container #home .main .history .pagination li {
  border: 1px solid #ddd;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
}

.main-container #home .main .history .pagination li + li {
  border-left: none;
}

.main-container #home .main .history .pagination .active {
  background-color: #3490dc;
}

.main-container #home .main .history .pagination .disabled {
  cursor: not-allowed;
}

.main-container #home .modal-typing .modal-header {
  text-align: right;
}

.main-container #home .modal-typing .modal-main .inputed {
  color: orange;
}

.main-container #home .modal-typing .modal-main .form-select {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-container #home .modal-typing .modal-main .form-select:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container #home .modal-typing .modal-main .form-checkbox {
  display: none;
}

.main-container #home .modal-typing .modal-main .form-checkbox + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.main-container #home .modal-typing .modal-main .form-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-container #home .modal-typing .modal-main .form-checkbox:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: dodgerBlue;
}

.main-container #home .modal-typing .modal-main #keyboard-container {
  display: flex;
  justify-content: center;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard {
  display: flex;
  flex-direction: column;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row {
  display: flex;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row .key {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  width: 35px;
  height: 35px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row .target-key {
  background-color: #f6993f;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row .missed {
  -webkit-animation: flash 0.3s linear infinite;
          animation: flash 0.3s linear infinite;
}

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-tab {
  width: 55px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-enter-1 {
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  width: 55px;
  position: relative;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-enter-1::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0px;
  display: inline-block;
  width: 10px;
  height: 1px;
  transform: translateX(-50%);
  background-color: #d8d8d8;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-caps {
  width: 65px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-enter-2 {
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 0 0 3px 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin: -4px 3px 3px 3px;
  width: 45px;
  position: relative;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-shift-left {
  width: 80px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-shift-right {
  width: 70px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-ctrl {
  width: 50px;
}

.main-container #home .modal-typing .modal-main #keyboard-container #keyboard .row #key-space {
  width: 140px;
}

.main-container #home .modal-typing .modal-main #hand-container {
  display: flex;
  justify-content: center;
}

.main-container #home .modal-typing .modal-main #hand-container #hand {
  display: flex;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right {
  display: flex;
  align-items: flex-end;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger {
  border: 1px solid #d8d8d8;
  border-radius: 20px 20px 0 0;
  margin: 5px 5px 5px 5px;
  width: 35px;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .target-finger,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .target-finger {
  background-color: #f6993f;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger-little,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger-little {
  height: 70px;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger-ring,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger-ring {
  height: 90px;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger-middle,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger-middle {
  height: 100px;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger-index,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger-index {
  height: 85px;
}

.main-container #home .modal-typing .modal-main #hand-container #hand #hand-left .finger-thumb,
.main-container #home .modal-typing .modal-main #hand-container #hand #hand-right .finger-thumb {
  height: 40px;
}

.main-container #home .modal-typing .modal-main #history-container {
  display: flex;
  justify-content: center;
}

.main-container #home .modal-typing .modal-main #history-container .pagination {
  display: flex;
}

.main-container #home .modal-typing .modal-main #history-container .pagination li {
  border: 1px solid #ddd;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
}

.main-container #home .modal-typing .modal-main #history-container .pagination li + li {
  border-left: none;
}

.main-container #home .modal-typing .modal-main #history-container .pagination .active {
  background-color: #3490dc;
}

.main-container #home .modal-typing .modal-main #history-container .pagination .disabled {
  cursor: not-allowed;
}

.main-container #auth {
  width: 40%;
}

.main-container #auth .tab {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}

.main-container #auth .tab .tab-item {
  opacity: 0.3;
  padding: 10px;
  border-bottom: 3px solid #292929;
}

.main-container #auth .tab .tab-item + .tab-item {
  margin-left: 15px;
}

.main-container #auth .tab .tab-item-active {
  opacity: 1;
}

.main-container #auth .panel .errors-area {
  border: dashed 2px #668ad8;
  background-color: #f1f8ff;
}

.main-container #auth .panel .errors-area li {
  padding: 5px 10px;
  color: #e3342f;
}

.main-container #auth .panel .error {
  color: #e3342f;
}

.main-container #auth .panel label {
  display: block;
  margin-top: 10px;
}

.main-container #auth .panel input[type=text],
.main-container #auth .panel input[type=password] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.main-container #auth .panel input[type=text]:focus,
.main-container #auth .panel input[type=password]:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container #auth .panel input[type=text]::-moz-placeholder, .main-container #auth .panel input[type=password]::-moz-placeholder {
  font-size: 12px;
}

.main-container #auth .panel input[type=text]:-ms-input-placeholder, .main-container #auth .panel input[type=password]:-ms-input-placeholder {
  font-size: 12px;
}

.main-container #auth .panel input[type=text]::placeholder,
.main-container #auth .panel input[type=password]::placeholder {
  font-size: 12px;
}

.main-container #auth .panel .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0;
}

.main-container #question {
  width: 100%;
}

.main-container #question .title-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-container #question .title-area .title {
  font-size: 30px;
  text-align: left;
}

.main-container #question .setting {
  width: 100%;
}

.main-container #question .setting .search-area {
  margin: 10px 0;
}

.main-container #question .setting .search-area .form-select {
  display: inline-block;
  padding: 5px;
  height: 35px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-container #question .setting .search-area .form-select:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container #question .setting .search-area input[type=text] {
  display: inline-block;
  height: 35px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.main-container #question .setting .search-area input[type=text]:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container #question .setting .search-area input[type=text]::-moz-placeholder {
  font-size: 12px;
}

.main-container #question .setting .search-area input[type=text]:-ms-input-placeholder {
  font-size: 12px;
}

.main-container #question .setting .search-area input[type=text]::placeholder {
  font-size: 12px;
}

.main-container #question .setting .setting-area {
  margin: 10px 0;
}

.main-container #question .setting .setting-area .form-checkbox {
  display: none;
}

.main-container #question .setting .setting-area .form-checkbox + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.main-container #question .setting .setting-area .form-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-container #question .setting .setting-area .form-checkbox:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: dodgerBlue;
}

.main-container #question table {
  width: 100%;
  border-collapse: collapse;
}

.main-container #question table thead th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container #question table thead th:nth-child(1) {
  width: 5%;
}

.main-container #question table thead th:nth-child(2) {
  width: 15%;
}

.main-container #question table thead th:nth-child(3) {
  width: 20%;
}

.main-container #question table thead th:nth-child(4) {
  width: 20%;
}

.main-container #question table thead th:nth-child(5) {
  width: 20%;
}

.main-container #question table thead th:nth-child(6) {
  width: 10%;
}

.main-container #question table thead th:nth-child(7) {
  width: 10%;
}

.main-container #question table thead th .icon {
  margin-left: 5px;
}

.main-container #question table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container #question table tbody td:nth-child(1),
.main-container #question table tbody td:nth-child(2),
.main-container #question table tbody td:nth-child(6),
.main-container #question table tbody td:nth-child(7) {
  text-align: center;
}

.main-container #question table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.main-container #question .pagination {
  display: flex;
  justify-content: center;
}

.main-container #question .pagination li {
  border: 1px solid #ddd;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
}

.main-container #question .pagination li + li {
  border-left: none;
}

.main-container #question .pagination .active {
  background-color: #6cb2eb;
}

.main-container #question .pagination .disabled {
  cursor: not-allowed;
}

.main-container .modal-question-edit .header {
  text-align: right;
}

.main-container .modal-question-edit .main #question-edit {
  width: 60%;
}

.main-container .modal-question-edit .main #question-edit .errors-area {
  border: dashed 2px #668ad8;
  background-color: #f1f8ff;
}

.main-container .modal-question-edit .main #question-edit .errors-area li {
  padding: 5px 10px;
  color: #e3342f;
}

.main-container .modal-question-edit .main #question-edit .error {
  color: #e3342f;
}

.main-container .modal-question-edit .main #question-edit label {
  display: block;
  margin-top: 10px;
}

.main-container .modal-question-edit .main #question-edit .form-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-container .modal-question-edit .main #question-edit .form-select:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container .modal-question-edit .main #question-edit input[type=text] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.main-container .modal-question-edit .main #question-edit input[type=text]:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.main-container .modal-question-edit .main #question-edit input[type=text]::-moz-placeholder {
  font-size: 12px;
}

.main-container .modal-question-edit .main #question-edit input[type=text]:-ms-input-placeholder {
  font-size: 12px;
}

.main-container .modal-question-edit .main #question-edit input[type=text]::placeholder {
  font-size: 12px;
}

.main-container .modal-question-edit .main #question-edit .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0;
}

/*----------------------------------------------

レスポンシブ

----------------------------------------------*/

@media screen and (max-width: 767px) {
  .header-container .header #pc-nav {
    display: none;
  }

  .header-container .header #hamburger {
    display: block;
  }

  .main-container #auth {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .main-container #auth {
    width: 100%;
  }
}

